.wrapper {
    background-color: rgba(48, 65, 83, 0.808);
    border: 1mm solid rgba(48, 65, 83, 0.808);
    border-radius: 20px;
    /* border */
    margin: 15px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: flex-start;
    height: 80vmin;
    color: white;

    ul {
        align-items: flex-start;
        justify-content: center;
        list-style-type: none;
    }
}
